<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>

    <% for(let i=0;i<names.length;i++){%>
            <ul>
                <li><%= names[i] %></li>
            </ul>

    <% } %>    
    
</body>
</html>